{% extends 'layout.html' %}

{% block content %}
	<h1>Portfolio</h1>

<p>
	I am currently studying a masters at Cardiff University. Alongside my studies I learned how to code simple games using python with pygame. The snapshot below shows a game I coded with python and also animated using pixelart. The aim of the game is similar to that of flappy bird, and to dodge the obstacles and live as long as possible with your high scores being recorded. This game takes into account physics, animation cycles and even sound effects. To download press the link below. This is the source code for the python file and it will need to be run with pygame installed in order to play.
</p>
<img src="static/game1.png" width="230px" height="326">
<img src="static/game2.png" width="230px" height="326">

<a href="/static/splash.py" download="splashgame.py">
  <img src="/static/splash.py" alt="Splash Game Download">
</a>

{% endblock content %}