{% extends 'layout.html' %}

{% block content %}
	{% for post in posts %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' +     
			post.author.image_file) }}">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ post.author.username }}</a>
		      <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
		    </div>
		    <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }} ">{{ post.title }}</ a></h2>
		    <p class="article-content">{{ post.content }}</p>
		    <p class="article-content">
		    	<h5>Comment Section:</h5>
		    	<button class="btn btn-secondary btn-sm m-1" id="button2">
		    		<div>Click to comment</div>
		    	</button>
			    {% for comment in comments %}
			    	{% if comment.post_id == post.id %}
				    	<small class="text-muted">{{ comment.date_posted.strftime('%d-%m-%Y') }}</small>
				  		<div>
				  			<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' +     
							comment.author.image_file) }}">
						  <div class="media-body">
						    <div class="article-metadata">
						      <a class="mr-2" href="#">{{ comment.author.username }}</a>
				  			{{ comment.comment }}
				  			{% if current_user == comment.author %}
				  				<button id="delete1">
				  					<a href="{{ url_for('delete_comment', comment_id=comment.id) }}">Delete</a>
				  				</button>
				  			{% endif %}
				  		</div>
				  	{% endif %}
			  	{% endfor %}
		    </p>
		  </div>

	
		</article>

		


	{% endfor %}
{% endblock content %}